*.o
src/qt/forms/*.h
src/qt/moc_*.cpp
rc/qt/locale/*.qm
src/qt/locale/*.qm

src/libDealtoken_cli.a
src/libDealtoken_server.a
src/libDealtoken_wallet.a
src/qt/libDealtokenqt.a
src/qt/qrc_Dealtoken.cpp

dist/
src/leveldb/.dirstamp
src/leveldb/db/.deps/
src/leveldb/db/.dirstamp
src/leveldb/helpers/memenv/.deps/
src/leveldb/helpers/memenv/.dirstamp
src/leveldb/libleveldb.a
src/leveldb/libmemenv.a
src/leveldb/port/.deps/
src/leveldb/port/.dirstamp
src/leveldb/table/.deps/
src/leveldb/table/.dirstamp
src/leveldb/util/.deps/
src/leveldb/util/.dirstamp
src/libDealtoken_common.a
src/obj/
src/qt/Dealtoken-qt

Dealtoken-Qt.app/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/m4/libtool.m4
build-aux/m4/ltoptions.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltversion.m4
build-aux/m4/lt~obsolete.m4
build-aux/missing
build-aux/test-driver
config.log
config.status
configure
contrib/devtools/split-debug.sh
depends/built/
depends/x86_64-apple-darwin11/
doc/Doxyfile
doc/man/Makefile
doc/man/Makefile.in
dpi36.background.tiff
dpi72.background.tiff
libDealtokenconsensus.pc
libtool
share/qt/Info.plist
share/setup.nsi
src/Dealtoken-config.h
src/Dealtoken-config.h.in~
src/Makefile
src/Makefile.in
src/qt/.deps/
src/qt/.dirstamp
src/qt/Dealtoken.moc
src/qt/overviewpage.moc
src/qt/rpcconsole.moc
src/stamp-h1
test/config.ini

