
## <summary>policy for Woochain</summary>


########################################
## <summary>
##	Transition to Woochain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`Woochain_domtrans',`
	gen_require(`
		type Woochain_t, Woochain_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, Woochain_exec_t, Woochain_t)
')


########################################
## <summary>
##	Execute Woochain server in the Woochain domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Woochain_initrc_domtrans',`
	gen_require(`
		type Woochain_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, Woochain_initrc_exec_t)
')


########################################
## <summary>
##	Search Woochain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Woochain_search_lib',`
	gen_require(`
		type Woochain_var_lib_t;
	')

	allow $1 Woochain_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read Woochain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Woochain_read_lib_files',`
	gen_require(`
		type Woochain_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, Woochain_var_lib_t, Woochain_var_lib_t)
')

########################################
## <summary>
##	Manage Woochain lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Woochain_manage_lib_files',`
	gen_require(`
		type Woochain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, Woochain_var_lib_t, Woochain_var_lib_t)
')

########################################
## <summary>
##	Manage Woochain lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`Woochain_manage_lib_dirs',`
	gen_require(`
		type Woochain_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, Woochain_var_lib_t, Woochain_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a Woochain environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`Woochain_admin',`
	gen_require(`
		type Woochain_t;
		type Woochain_initrc_exec_t;
		type Woochain_var_lib_t;
	')

	allow $1 Woochain_t:process { ptrace signal_perms };
	ps_process_pattern($1, Woochain_t)

	Woochain_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 Woochain_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, Woochain_var_lib_t)

')

